*{
    padding: 0; margin: 0;
    box-sizing: border-box;
}

#wrapp{
    background-image: url(images/background.jpg);
    background-size: cover;
    width: 100%; height: 100vh;
    position: absolute;
    top: 0; left: 0;
    z-index: 1;
}

#progress{
    width: 100%; height: 100vh;
    display: flex;
    justify-content: center; align-items: center;
    z-index: 2;
    position: absolute;
    top: 0; left: 0;
    font-size: 50px; font-weight: 900;
    color: #000;
}

#row{
    width: 0; height: 20px;
    background-color: orangered;
    position: absolute;
    top: 0;
    z-index: 3;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}